<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/style.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Login</title>
  </head>
  <body>
    <div>
      <h1>Conecte-se</h1>

      <!-- Exibir mensagens de erro do Django -->
      {% if erro %}
      <p class="error-message">{{ erro }}</p>
      {% endif %}

      <!-- Formulário de Login -->
      <form id="loginForm" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <label for="email">E-mail <span style="color: red">*</span></label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Digite seu e-mail"
          required
        />

        <label for="password">Senha <span style="color: red">*</span></label>
        <input
          type="password"
          id="password"
          name="senha"
          placeholder="Digite sua senha"
          required
        />
        <p>Ainda não tem uma conta?</p>
        <a href="{% url 'cadastro' %}">
          <button type="button">Cadastre-se</button>
        </a>

        <button type="submit">Entrar</button>
      </form>
    </div>
  </body>
</html>
