<<<<<<< HEAD
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/teladefundo.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    margin: 0;
}

div {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 40px;
    border-radius: 15px;
    color: white;
    width: 350px;
    text-align: center;

    /* Centralizando o div manualmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 20px;
}

input {
    width: calc(100% - 20px); /* Define largura com margem */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;

    /* Centralizando manualmente */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: dodgerblue;
    border: none;
    padding: 10px;
    width: calc(100% - 20px); /* Define largura com margem */
    border-radius: 50px;
    color: white;
    font-size: 16px;

    /* Ajustando a posição Y do botão */
    margin-top: 20px; /* Altere o valor para aumentar ou diminuir o espaço */
}

button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;

    /* Centralizando manualmente */
    text-align: center; 
}
=======
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    /* Estilo geral */
    body {
    margin: 0;
    padding: 0;
    background-image: url("/static/images/teladefundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    }
    /* Estilo específico para a nova tela */
    .nova-tela-body {
    background-image: url("{% static 'autenticacao/images/teladefundo.png' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    }
    
    
    /* Nova tela */
    .nova-tela {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: auto;
    }
    
    .hero h1 {
    color: #6a1b9a; /* Roxo escuro */
    }
    
    .hero p {
    font-size: 18px;
    }
    
    .cta-button {
    background-color: #ffcc00; /* Amarelo destaque */
    color: #6a1b9a; /* Roxo escuro */
    border-radius: 5px;
    padding: 10px 20px;
    }
    
    .cta-button:hover {
    background-color: #ffd740; /* Amarelo mais claro */
    }
    
    /* Produtos */
    .products h2 {
    color: #6a1b9a; /* Roxo escuro */
    }
    
    .product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
>>>>>>> b68dd0b (Atualizações de funcionalidade (sair, filtro e lista de desejos))
